@model List<dynamic>
@{
    ViewData["Title"] = "Scrapper Page";
}
<div>
    <h1> hello worold</h1>
</div>

<div class="container">
    <form method="post">
        <div>
            <input type="text" name="url" />
            <button type="submit">Getir</button>
        </div>
    </form>
</div>

<div class="container">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <h3>Ürün adı : @item.title</h3>
            <h4>Urun Fiyatı : @item.price</h4>
            <hr/>
        }

    }


</div>